.profile__img {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 22px;
}
@media screen and (min-width: 1280px) {
  .profile__img {
    align-self: start;
    margin-bottom: 0;
    margin-right: 30px;
  }
}
